In [369]:
#Libraries
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

First I will do feature engineering

In [370]:
data_train = pd.read_csv('Train.csv')
data_test = pd.read_csv('Test.csv')
data = pd.concat([data_train, data_test], ignore_index=True)
data['income_above_limit'] = (data['income_above_limit'] == 'Above limit').astype(int)

In [371]:
data.info()
data.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299285 entries, 0 to 299284
Data columns (total 43 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   ID                              299285 non-null  object
 1   age                             299285 non-null  int64
 2   gender                          299285 non-null  object
 3   education                       299285 non-null  object
 4   class                           148961 non-null  object
 5   education_institute             18918 non-null   object
 6   marital_status                  299285 non-null  object
 7   race                            299285 non-null  object
 8   is_hispanic                     299285 non-null  object
 9   employment_commitment           299285 non-null  object
 10  unemployment_reason             9200 non-null    object
 11  employment_stat                 299285 non-null  int64
 12  wage_per_hour                   299285 non-null  int64
 13  is_labor_union                  28543 non-null   object
 14  working_week_per_year           299285 non-null  int64
 15  industry_code                   299285 non-null  int64
 16  industry_code_main              299285 non-null  object
 17  occupation_code                 299285 non-null  int64
 18  occupation_code_main            148318 non-null  object
 19  total_employed                  299285 non-null  int64
 20  household_stat                  299285 non-null  object
 21  household_summary               299285 non-null  object
 22  under_18_family                 82659 non-null   object
 23  veterans_admin_questionnaire    3011 non-null    object
 24  vet_benefit                     299285 non-null  int64
 25  tax_status                      299285 non-null  object
 26  gains                           299285 non-null  int64
 27  losses                          299285 non-null  int64
 28  stocks_status                   299285 non-null  int64
 29  citizenship                     299285 non-null  object
 30  mig_year                        299285 non-null  int64
 31  country_of_birth_own            299285 non-null  object
 32  country_of_birth_father         299285 non-null  object
 33  country_of_birth_mother         299285 non-null  object
 34  migration_code_change_in_msa    297046 non-null  object
 35  migration_prev_sunbelt          173109 non-null  object
 36  migration_code_move_within_reg  297046 non-null  object
 37  migration_code_change_in_reg    297046 non-null  object
 38  residence_1_year_ago            147404 non-null  object
 39  old_residence_reg               23467 non-null   object
 40  old_residence_state             23467 non-null   object
 41  importance_of_record            299285 non-null  float64
 42  income_above_limit              299285 non-null  int64
dtypes: float64(1), int64(13), object(29)
memory usage: 98.2+ MB

(299285, 43)

In [372]:
data.head(10)

,ID,age,gender,education,class,education_institute,marital_status,race,is_hispanic,employment_commitment,...,country_of_birth_mother,migration_code_change_in_msa,migration_prev_sunbelt,migration_code_move_within_reg,migration_code_change_in_reg,residence_1_year_ago,old_residence_reg,old_residence_state,importance_of_record,income_above_limit
0,ID_TZ0000,79,Female,High school graduate,NaN,NaN,Widowed,White,All other,Not in labor force,...,US,?,?,?,?,NaN,NaN,NaN,1779.74,0
1,ID_TZ0001,65,Female,High school graduate,NaN,NaN,Widowed,White,All other,Children or Armed Forces,...,US,unchanged,NaN,unchanged,unchanged,Same,NaN,NaN,2366.75,0
2,ID_TZ0002,21,Male,12th grade no diploma,Federal government,NaN,Never married,Black,All other,Children or Armed Forces,...,US,unchanged,NaN,unchanged,unchanged,Same,NaN,NaN,1693.42,0
3,ID_TZ0003,2,Female,Children,NaN,NaN,Never married,Asian or Pacific Islander,All other,Children or Armed Forces,...,India,unchanged,NaN,unchanged,unchanged,Same,NaN,NaN,1380.27,0
4,ID_TZ0004,70,Male,High school graduate,NaN,NaN,Married-civilian spouse present,White,All other,Not in labor force,...,US,?,?,?,?,NaN,NaN,NaN,1580.79,0
5,ID_TZ0005,45,Male,Bachelors degree(BA AB BS),Private,NaN,Married-civilian spouse present,Asian or Pacific Islander,All other,Children or Armed Forces,...,?,unchanged,NaN,unchanged,unchanged,Same,NaN,NaN,4438.27,0
6,ID_TZ0006,53,Male,High school graduate,Private,NaN,Married-civilian spouse present,White,All other,Full-time schedules,...,US,?,?,?,?,NaN,NaN,NaN,1401.23,0
7,ID_TZ0007,22,Female,High school graduate,Private,NaN,Married-civilian spouse present,White,All other,Full-time schedules,...,US,?,?,?,?,NaN,NaN,NaN,661.07,0
8,ID_TZ0008,73,Female,7th and 8th grade,NaN,NaN,Married-civilian spouse present,Black,All other,Not in labor force,...,US,?,?,?,?,NaN,NaN,NaN,1267.30,0
9,ID_TZ0009,22,Female,11th grade,Private,NaN,Married-civilian spouse present,Black,All other,Full-time schedules,...,US,?,?,?,?,NaN,NaN,NaN,3091.18,0

In [373]:
data

,ID,age,gender,education,class,education_institute,marital_status,race,is_hispanic,employment_commitment,...,country_of_birth_mother,migration_code_change_in_msa,migration_prev_sunbelt,migration_code_move_within_reg,migration_code_change_in_reg,residence_1_year_ago,old_residence_reg,old_residence_state,importance_of_record,income_above_limit
0,ID_TZ0000,79,Female,High school graduate,NaN,NaN,Widowed,White,All other,Not in labor force,...,US,?,?,?,?,NaN,NaN,NaN,1779.74,0
1,ID_TZ0001,65,Female,High school graduate,NaN,NaN,Widowed,White,All other,Children or Armed Forces,...,US,unchanged,NaN,unchanged,unchanged,Same,NaN,NaN,2366.75,0
2,ID_TZ0002,21,Male,12th grade no diploma,Federal government,NaN,Never married,Black,All other,Children or Armed Forces,...,US,unchanged,NaN,unchanged,unchanged,Same,NaN,NaN,1693.42,0
3,ID_TZ0003,2,Female,Children,NaN,NaN,Never married,Asian or Pacific Islander,All other,Children or Armed Forces,...,India,unchanged,NaN,unchanged,unchanged,Same,NaN,NaN,1380.27,0
4,ID_TZ0004,70,Male,High school graduate,NaN,NaN,Married-civilian spouse present,White,All other,Not in labor force,...,US,?,?,?,?,NaN,NaN,NaN,1580.79,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299280,ID_TZ299280,5,Male,Children,NaN,NaN,Never married,White,All other,Children or Armed Forces,...,US,?,?,?,?,NaN,NaN,NaN,938.83,0
299281,ID_TZ299281,81,Female,7th and 8th grade,NaN,NaN,Married-civilian spouse present,White,All other,Not in labor force,...,US,?,?,?,?,NaN,NaN,NaN,1985.66,0
299282,ID_TZ299282,65,Female,High school graduate,Federal government,NaN,Married-civilian spouse present,White,Other Spanish,Children or Armed Forces,...,US,unchanged,NaN,unchanged,unchanged,Same,NaN,NaN,552.74,0
299283,ID_TZ299283,38,Female,High school graduate,Private,NaN,Married-A F spouse present,White,All other,Full-time schedules,...,US,?,?,?,?,NaN,NaN,NaN,1917.71,0
299284,ID_TZ299284,23,Female,Some college but no degree,Private,NaN,Never married,White,All other,Full-time schedules,...,US,?,?,?,?,NaN,NaN,NaN,1997.29,0

Now I will go throught the data feature by feature.
I will remove columns which I think are not necessary to determine my output. One such feature is ID.

I will divide age into three categories using one hot encoding:

1.   Age(0 - 20)years (Children and teens)
2.   Age(20 - 50)years (Earning)
3.   Age(50 - 70)years (Retired)

In [374]:
data['Age1'] = (data['age'] <= 20).astype(int)
data['Age2'] = ((data['age'] > 20) & (data['age'] <= 50)).astype(int)
data['Age3'] = (data['age'] > 50).astype(int)

In [375]:
data['Gender'] = data['gender'].str.strip().replace({'Male': 1, 'Female': 0, 'Other': 0, 'male': 1})

In [376]:
data['education'] = data['education'].str.strip()

In [377]:
data['class_of_worker_missing'] = data['class'].isnull().astype(int)

In [378]:
data['wage_label_encoded'] = np.where(data['wage_per_hour'] == 0, 0,  # Assign 0 for value 0
                                      np.where(data['wage_per_hour'] < 1000, 1, 2))

In [379]:
data['TotalProfit'] = data['gains'] - data['losses'] + data['stocks_status']

In [380]:
data['TotalProfit'] = (data['TotalProfit'] >=0).astype(int)

In [381]:
# List of columns to label encode
categorical_columns = ['marital_status', 'race', 'employment_commitment','household_summary','tax_status','education','migration_code_change_in_msa',
                       'migration_prev_sunbelt','migration_code_move_within_reg','migration_code_change_in_reg','is_hispanic','residence_1_year_ago',
                       'under_18_family','country_of_birth_own','country_of_birth_mother','country_of_birth_father','citizenship'
                       ]

# Initialize a dictionary to store the label encoders for each column
label_encoders = {}

for column in categorical_columns:
    le = LabelEncoder()
    data[column] = le.fit_transform(data[column])
    label_encoders[column] = le  # Store the label encoder for future use

In [382]:
data = data.drop(['ID','class','old_residence_reg','stocks_status','losses',
                  'gains','occupation_code_main','industry_code_main','is_labor_union',
                  'wage_per_hour','unemployment_reason','education_institute','education',
                  'age','gender','household_stat','old_residence_reg','old_residence_state','veterans_admin_questionnaire'],axis = 1)

In [383]:
import xgboost
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_val_score

In [384]:
X_train, X_test, y_train, y_test = train_test_split(data.drop('income_above_limit', axis=1), data['income_above_limit'], test_size=0.33)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((200520, 31), (98765, 31), (200520,), (98765,))

In [385]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 200520 entries, 143284 to 236114
Data columns (total 31 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   marital_status                  200520 non-null  int64
 1   race                            200520 non-null  int64
 2   is_hispanic                     200520 non-null  int64
 3   employment_commitment           200520 non-null  int64
 4   employment_stat                 200520 non-null  int64
 5   working_week_per_year           200520 non-null  int64
 6   industry_code                   200520 non-null  int64
 7   occupation_code                 200520 non-null  int64
 8   total_employed                  200520 non-null  int64
 9   household_summary               200520 non-null  int64
 10  under_18_family                 200520 non-null  int64
 11  vet_benefit                     200520 non-null  int64
 12  tax_status                      200520 non-null  int64
 13  citizenship                     200520 non-null  int64
 14  mig_year                        200520 non-null  int64
 15  country_of_birth_own            200520 non-null  int64
 16  country_of_birth_father         200520 non-null  int64
 17  country_of_birth_mother         200520 non-null  int64
 18  migration_code_change_in_msa    200520 non-null  int64
 19  migration_prev_sunbelt          200520 non-null  int64
 20  migration_code_move_within_reg  200520 non-null  int64
 21  migration_code_change_in_reg    200520 non-null  int64
 22  residence_1_year_ago            200520 non-null  int64
 23  importance_of_record            200520 non-null  float64
 24  Age1                            200520 non-null  int64
 25  Age2                            200520 non-null  int64
 26  Age3                            200520 non-null  int64
 27  Gender                          200520 non-null  int64
 28  class_of_worker_missing         200520 non-null  int64
 29  wage_label_encoded              200520 non-null  int64
 30  TotalProfit                     200520 non-null  int64
dtypes: float64(1), int64(30)
memory usage: 49.0 MB

In [386]:
from xgboost import XGBClassifier
from sklearn.model_selection import cross_val_score

# Function to perform cross-validation
def cross_val(classifier, X_train, y_train, num_splits=10):
    scores = cross_val_score(classifier, X_train, y_train, cv=num_splits)
    print("Cross-Validation Accuracy: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std() * 2))

classifier = XGBClassifier()

# Perform cross-validation
cross_val(classifier, X_train, y_train)

# Train the final model on the entire training set
final_model = classifier.fit(X_train, y_train)

# Evaluate the final model on the test set
test_accuracy = final_model.score(X_test, y_test)
print("Test Accuracy: %0.2f" % test_accuracy)

Cross-Validation Accuracy: 0.96 (+/- 0.00)
Test Accuracy: 0.96

In [388]:
# Predict labels for the test set
y_pred = final_model.predict(X_test)

# Create a DataFrame to store results
results = pd.DataFrame({
    'Actual': y_test,
    'Predicted': y_pred
})

# Save results to CSV
results.to_csv('test_results.csv', index=False)